.navBarContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: rgb(237, 248, 248);
    display: flex;
    align-items: center;
    z-index: 9;
    justify-content: space-between;
    padding-inline: 20px;
    font-family: 'Great Vibes', cursive;
}
.navBarContainer h3{
    
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(25, 162, 116);
    margin-left: 10px;
}
